

/***************** loading  **************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.loading {
  height: 100vh;
  width: 100vw;
  cursor: progress;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5em;
    height: 5em;
    margin-top: -2.5em;
    margin-left: -2.5em;
    border-radius: 50%;
    border: 0.25em solid #ccc;
    border-top-color: #333;
    animation: spinner 1.5s linear infinite;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/**************** RESET *************/

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/************* CONTAINER *****************/

#container{
  width: 95%;
  margin: auto;
}

/************* HEADER *****************/

header {
  padding: 40px;
  background: #DFE7F5;
  box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
}

#slideContainer {
  width: 100%;
  margin: 2rem auto;
}

#slideContainer img {
  width: 100%;
  height: auto;
}

header h1{
  text-align: center;
  color: white;
}

/************* MAIN (NAV / ARTICLE / ASIDE) *****************/

main{
  display: flex;
  flex-direction: row;
}

/** NAVIGATION **/

nav {
  flex:1;
  padding: 40px;
  background: #f0f8ff;
}

nav ul {
  display: grid;
  grid-gap: 1rem;
}

nav ul li {
  padding: 0.5rem;
  background: #b0c4de;
}

nav a {
  color: white;
}

/** ARTICLE **/

article{
  flex:3;
  padding: 3rem;
  background: #ffffff;
}

article section{
  border-top: 3px solid #888;
  padding-top: 2rem;
  margin-bottom: 5rem;
}

article img{
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.bodytext {
  font-size: 1rem;
  margin-bottom: 1rem;;
}

.caption {
  font-size: 0.7rem;
}

.hr1 {
  position: relative;
	height: 3px;
	border-width: 0;
	background-color: #00bcd4;
	background-image: -webkit-linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);
	background-image: linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);
}


/** ASIDE **/

aside{
  flex:1;
  padding: 10px;
  background: #ffffff;
}


/************* FOOTER *****************/

footer {
  grid-area: AreaE;
  padding: 40px;
  text-align: center;
  background: #;
  color: white;
}
